.App {
  font-family: sans-serif;
  text-align: center;
  border: red 1px solid;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 50px;
}

.mainList {
  padding: 20px;
  text-align: left;
}
